.body {
  min-height: 800px;
}

.jumbotron {
  min-height: 350px;
  padding-top: 10rem;
  background-color: #96daeb;
}

#inspiration {
  background-color: #0099ff;
}

section {
  padding-top: 5rem;
}
